RESULTADOS 2009

In [ ]:
import os
import pandas as pd
#os.chdir(r"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
os.chdir(r"C:\Users\Silvia.Mencia\Documents\Ejercicio")
df = pd.read_csv("resultados-elecciones-europeas-1-2009.csv",sep=";")
df.info()
df["MUNICIPIO"].unique()
df["PROVINCIA"].unique()
#No hay valores nulos
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225330 entries, 0 to 225329
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ANYO              225330 non-null  int64
 1   NUM_ELEC          225330 non-null  int64
 2   COD_PROV          225330 non-null  int64
 3   PROVINCIA         225330 non-null  object
 4   COD_COMARCA       225330 non-null  int64
 5   COMARCA           225330 non-null  object
 6   COD_MUNICIPIO     225330 non-null  int64
 7   MUNICIPIO         225330 non-null  object
 8   DISTRITO          225330 non-null  int64
 9   SECCION           225330 non-null  int64
 10  MESA              225330 non-null  object
 11  CANDIDATURAS      225330 non-null  int64
 12  CENSO             225330 non-null  int64
 13  VOTANTES          225330 non-null  int64
 14  VALIDOS           225330 non-null  int64
 15  BLANCOS           225330 non-null  int64
 16  ABSTENCIONES      225330 non-null  int64
 17  NULOS             225330 non-null  int64
 18  CANDIDATO_COD     225330 non-null  int64
 19  CANDIDATO_SIGLAS  225330 non-null  object
 20  CANDIDATO_DESC    225330 non-null  object
 21  VOTOS             225330 non-null  int64
dtypes: int64(16), object(6)
memory usage: 37.8+ MB

,ANYO,NUM_ELEC,COD_PROV,PROVINCIA,COD_COMARCA,COMARCA,COD_MUNICIPIO,MUNICIPIO,DISTRITO,SECCION,...,CENSO,VOTANTES,VALIDOS,BLANCOS,ABSTENCIONES,NULOS,CANDIDATO_COD,CANDIDATO_SIGLAS,CANDIDATO_DESC,VOTOS
0,2009,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,392,262,262,1,130,0,14,RC,Partit Republicà Català,0
1,2009,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,392,262,262,1,130,0,15,PCPE,Partido Comunista de los Pueblos de España,1
2,2009,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,392,262,262,1,130,0,17,UPyD,Unión Progreso y Democracia,1
3,2009,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,392,262,262,1,130,0,18,AES,Alternativa Española,0
4,2009,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,392,262,262,1,130,0,19,FA,Falange Auténtica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225325,2009,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,811,508,505,6,303,3,29,MSR,Movimiento Social Republicano,1
225326,2009,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,811,508,505,6,303,3,30,UNA,Unidá Nacionalista Asturiana,0
225327,2009,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,811,508,505,6,303,3,32,DN,Democracia Nacional,0
225328,2009,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,811,508,505,6,303,3,34,UCE,Unificación Comunista de España,0
225329,2009,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,811,508,505,6,303,3,37,PH,Partido Humanista,0

In [58]:
#Primera tabla creada: REGIÓN
df_region= df.iloc[:,2:4]
df_region= df_region[["PROVINCIA"]].drop_duplicates()
df_region.to_csv("provincia.csv", index=False)
#dfregion = pd.read_csv("region.csv",sep=",")
df_region

        PROVINCIA
0        Alicante
87710   Castellón
114520   Valencia

In [59]:
#Segunda tabla creada: CANDIDATOS
df_candidatos= df.loc[:,"CANDIDATO_COD":"CANDIDATO_DESC"]
df_candidatos.info()
df_candidatos= df_candidatos[["CANDIDATO_DESC", "CANDIDATO_COD", "CANDIDATO_SIGLAS"]].drop_duplicates()
df_candidatos.to_csv("canditatos.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225330 entries, 0 to 225329
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CANDIDATO_COD     225330 non-null  int64
 1   CANDIDATO_SIGLAS  225330 non-null  object
 2   CANDIDATO_DESC    225330 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.2+ MB

In [60]:
#Tercera tabla creada: MUNICIPIOS
df_municipios= df.loc[:,"COD_MUNICIPIO":"MUNICIPIO"]
df_municipios= df_municipios[["COD_MUNICIPIO", "MUNICIPIO"]].drop_duplicates()

#Son 542 municipios
df_municipios.to_csv("municipios.csv", index=False)
df_municipios

        COD_MUNICIPIO                 MUNICIPIO
0                3001               Atzúbia, l'
35               3002                     Agost
280              3003                     Agres
315              3004                    Aigües
350              3005                  Albatera
...               ...                       ...
224980          46262                  Yesa, la
225015          46263                     Zarra
225050          46902                    Gátova
225085          46903  San Antonio de Benagéber
225295          46904        Benicull de Xúquer

[542 rows x 2 columns]

In [61]:
#Quito las columnas de distrito, sección , mesa y NUM_ELEC(que siempre tiene el valor 1)
df= df.drop(columns=["DISTRITO","SECCION", "MESA", "NUM_ELEC"])
df

,ANYO,COD_PROV,PROVINCIA,COD_COMARCA,COMARCA,COD_MUNICIPIO,MUNICIPIO,CANDIDATURAS,CENSO,VOTANTES,VALIDOS,BLANCOS,ABSTENCIONES,NULOS,CANDIDATO_COD,CANDIDATO_SIGLAS,CANDIDATO_DESC,VOTOS
0,2009,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",261,392,262,262,1,130,0,14,RC,Partit Republicà Català,0
1,2009,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",261,392,262,262,1,130,0,15,PCPE,Partido Comunista de los Pueblos de España,1
2,2009,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",261,392,262,262,1,130,0,17,UPyD,Unión Progreso y Democracia,1
3,2009,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",261,392,262,262,1,130,0,18,AES,Alternativa Española,0
4,2009,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",261,392,262,262,1,130,0,19,FA,Falange Auténtica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225325,2009,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,499,811,508,505,6,303,3,29,MSR,Movimiento Social Republicano,1
225326,2009,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,499,811,508,505,6,303,3,30,UNA,Unidá Nacionalista Asturiana,0
225327,2009,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,499,811,508,505,6,303,3,32,DN,Democracia Nacional,0
225328,2009,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,499,811,508,505,6,303,3,34,UCE,Unificación Comunista de España,0
225329,2009,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,499,811,508,505,6,303,3,37,PH,Partido Humanista,0

In [62]:
#Cuarta tabla creada MUNICIPIO, CENSO, VOTANTES, COD_MUNICIPIO
df_municipio_censo_votantes = df[["COD_MUNICIPIO", "MUNICIPIO", "CENSO", "VOTANTES"]].drop_duplicates()
df_municipio_censo_votantes.to_csv("municipio_censo_votantes.csv", index=False)
df_municipio_censo_votantes

        COD_MUNICIPIO                 MUNICIPIO  CENSO  VOTANTES
0                3001               Atzúbia, l'    392       262
35               3002                     Agost    540       258
44               3002                     Agost    644       336
88               3002                     Agost    440       242
103              3002                     Agost    517       314
...               ...                       ...    ...       ...
225129          46903  San Antonio de Benagéber    783       414
225173          46903  San Antonio de Benagéber    621       355
225187          46903  San Antonio de Benagéber    659       342
225260          46903  San Antonio de Benagéber    722       472
225295          46904        Benicull de Xúquer    811       508

[6423 rows x 4 columns]

In [52]:
df_municipio_censo_votantes_sumado = df_municipio_censo_votantes.groupby(
    ["COD_MUNICIPIO", "MUNICIPIO"], as_index=False
)[["CENSO", "VOTANTES"]].sum()
df_municipio_censo_votantes_sumado

     COD_MUNICIPIO                 MUNICIPIO  CENSO  VOTANTES
0             3001               Atzúbia, l'    392       262
1             3002                     Agost   3548      1910
2             3003                     Agres    480       313
3             3004                    Aigües    678       391
4             3005                  Albatera   7482      4582
..             ...                       ...    ...       ...
537          46262                  Yesa, la    226       139
538          46263                     Zarra    357       192
539          46902                    Gátova    405       313
540          46903  San Antonio de Benagéber   4340      2485
541          46904        Benicull de Xúquer    811       508

[542 rows x 4 columns]

In [22]:
# Agrupar por COD_COMARCA y CANDIDATO_COD y sumar los votos válidos
votos_por_candidato_comarca = df.groupby(["COD_COMARCA", "CANDIDATO_COD"])["VALIDOS"].sum().reset_index()

# Mostrar resultado
print(votos_por_candidato_comarca)

      COD_COMARCA  CANDIDATO_COD  VALIDOS
0               1              1     2485
1               1              3     2485
2               1              4     2485
3               1              5     2485
4               1              8     2485
...           ...            ...      ...
1185           34             39   103725
1186           34             40   103725
1187           34             41   103725
1188           34             42   103725
1189           34             43   103725

[1190 rows x 3 columns]

In [19]:
df_votos

,CENSO,VOTANTES,VALIDOS,BLANCOS,ABSTENCIONES,NULOS,CANDIDATO_COD,COD_COMARCA,COD_PROV
0,392,262,262,1,130,0,14,30,3
1,392,262,262,1,130,0,15,30,3
2,392,262,262,1,130,0,17,30,3
3,392,262,262,1,130,0,18,30,3
4,392,262,262,1,130,0,19,30,3
...,...,...,...,...,...,...,...,...,...
225325,811,508,505,6,303,3,29,21,46
225326,811,508,505,6,303,3,30,21,46
225327,811,508,505,6,303,3,32,21,46
225328,811,508,505,6,303,3,34,21,46
225329,811,508,505,6,303,3,37,21,46

In [20]:
#Sexta tabla municipios con código provincia
df_municipio_provincia = df[["COD_MUNICIPIO", "MUNICIPIO", "COD_PROV"]].drop_duplicates()
df_municipio_provincia.to_csv("municipio_provincia.csv", index=False)
df_municipio_provincia

        COD_MUNICIPIO                 MUNICIPIO  COD_PROV
0                3001               Atzúbia, l'         3
35               3002                     Agost         3
280              3003                     Agres         3
315              3004                    Aigües         3
350              3005                  Albatera         3
...               ...                       ...       ...
224980          46262                  Yesa, la        46
225015          46263                     Zarra        46
225050          46902                    Gátova        46
225085          46903  San Antonio de Benagéber        46
225295          46904        Benicull de Xúquer        46

[542 rows x 3 columns]

In [28]:
#Séptima tabla con COMARCAS

df_comarcas= df.loc[:,"COD_PROV":"COMARCA"]
df_comarcas = df_comarcas[["COD_PROV", "PROVINCIA", "COD_COMARCA", "COMARCA"]].drop_duplicates()
df_comarcas.info()
df_comarcas.to_csv("comarcas.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 0 to 191450
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COD_PROV     34 non-null     int64
 1   PROVINCIA    34 non-null     object
 2   COD_COMARCA  34 non-null     int64
 3   COMARCA      34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [38]:
df_comarca_censo_votantes = df[["COD_COMARCA", "COMARCA", "CENSO", "VOTANTES"]].drop_duplicates()
df_comarca_censo_votantes_sumado = df_comarca_censo_votantes.groupby(
    ["COD_COMARCA", "COMARCA"], as_index=False
)[["CENSO", "VOTANTES"]].sum()

df_comarca_censo_votantes_sumado.to_csv("comarcas_censo_votantes_sumado.csv", index=False)
df_comarca_censo_votantes_sumado

    COD_COMARCA                      COMARCA   CENSO  VOTANTES
0             1                    Els Ports    4098      2542
1             2               L'Alt Maestrat    6284      3643
2             3             El Baix Maestrat   55920     28385
3             4                  L'Alcalatén   13008      6853
4             5                La Plana Alta  172478     86471
5             6               La Plana Baixa  138810     74675
6             7             El Alto Palancia   20087     13272
7             8              El Alto Mijares    3756      2484
8             9          El Rincón de Ademuz    2220      1379
9            10                 Los Serranos   14596      9372
10           11             El Camp de Túria  106395     58832
11           12          El Camp de Morvedre   68120     34706
12           13                 L'Horta Nord  165817     91726
13           14                 L'Horta Oest  251840    128583
14           15                     Valencia  578242    322659
15           16                  L'Horta Sud  127709     67891
16           17    La Plana de Utiel-Requena   30900     16067
17           18             La Hoya de Buñol   31668     18602
18           19  El Valle de Cofrentes-Ayora    8513      4801
19           20               La Ribera Alta  167590     97139
20           21              La Ribera Baixa   62072     34949
21           22         La Canal de Navarrés   13163      8976
22           23                   La Costera   55729     33818
23           24            La Vall d'Albaida   68630     42028
24           25                     La Safor  122209     70615
25           26                    El Comtat   22323     13335
26           27                     L'Alcoià   86206     47082
27           28             El Alto Vinalopó   40490     21675
28           29            El Vinalopó Medio  128412     66198
29           30               La Marina Alta  107128     50390
30           31              La Marina Baixa  110104     52408
31           32                   L'Alacantí  333440    161359
32           33             El Baix Vinalopó  205309    103968
33           34                 La Vega Baja  197998    104155

In [ ]:
#Comarca con municipio
df_comarca_municipio= df[["COD_COMARCA", "COMARCA", "COD_PROV"", "PROVINCIA"]].drop_duplicates()
df_comarca_municipio = df_comarca_censo_votantes.groupby(
    ["COD_COMARCA", "COMARCA"], as_index=False
)[["CENSO", "VOTANTES"]].sum()

df_comarca_censo_votantes_sumado.to_csv("comarcas_censo_votantes_sumado.csv", index=False)
df_comarca_censo_votantes_sumado

In [42]:
df_comarca_municipio= df[["COD_COMARCA", "COMARCA", "COD_MUNICIPIO", "MUNICIPIO"]].drop_duplicates()
df_comarca_municipio.to_csv("comarca_municipio.csv", index=False)
df_comarca_municipio

,COD_COMARCA,COMARCA,COD_MUNICIPIO,MUNICIPIO
0,30,La Marina Alta,3001,"Atzúbia, l'"
35,32,L'Alacantí,3002,Agost
280,26,El Comtat,3003,Agres
315,32,L'Alacantí,3004,Aigües
350,34,La Vega Baja,3005,Albatera
...,...,...,...,...
224980,10,Los Serranos,46262,"Yesa, la"
225015,19,El Valle de Cofrentes-Ayora,46263,Zarra
225050,11,El Camp de Túria,46902,Gátova
225085,11,El Camp de Túria,46903,San Antonio de Benagéber
225295,21,La Ribera Baixa,46904,Benicull de Xúquer

In [43]:
#Saco los partidos políticos de las elecciones del 2009-2014
os.chdir(R"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
df = pd.read_csv("groups2009_2014.csv",sep=";")
df.drop_duplicates(subset="ID", inplace=True)
df.to_csv("grupos_politicos_2009_2014.csv", index=False)

In [44]:
#Saco los partidos políticos de las elecciones del 2014-2019
os.chdir(R"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
df = pd.read_csv("groups_2014_2019.csv",sep=";")
df.drop_duplicates(subset="ID", inplace=True)
df.to_csv("grupos_politicos_2014_2019.csv", index=False)

In [ ]:
#Saco los partidos políticos de las elecciones del 2014-2019
os.chdir(R"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
df = pd.read_csv("groups_2014_2019.csv",sep=";")
df.drop_duplicates(subset="ID", inplace=True)
df.to_csv("grupos_politicos_2014_2019.csv", index=False)

In [ ]:
df___partidos = pd.read_csv("grupos_politicos_2009_2014.csv")
lista_partidos= ["Centro_Derecha", "Centro_Izquierda", "Centro_Liberal", "Izquierda_Liberal","Conservadores_Euroescépticos","Izquierda_Radical","Derecha_Nacionalista", "Grupo_Mixto"] 
df___partidos["TP"] = lista_partidos
df___partidos

In [96]:
df___partidos.iloc[[-1], [0]] = "GP000"

In [81]:
df___partidos

,ID,LANGUAGE_ID,ACRONYM,LABEL,TP
0,GP1201,EN,EPP,Group of the European People's Party (Christia...,Centro_Derecha
1,GP1202,EN,S&D,Group of the Progressive Alliance of Socialist...,Centro_Izquierda
2,GP1203,EN,ALDE,Group of the Alliance of Liberals and Democrat...,Centro_Liberal
3,GP1204,EN,Greens/EFA,Group of the Greens/European Free Alliance,Izquierda_Liberal
4,GP1205,EN,ECR,European Conservatives and Reformists Group,Conservadores_Euroescépticos
5,GP1206,EN,GUE/NGL,Confederal Group of the European United Left -...,Izquierda_Radical
6,GP1207,EN,EFD,Europe of freedom and democracy Group,Derecha_Nacionalista
7,GP000,EN,NI,Non-attached Members,Grupo_Mixto

In [ ]:
#df___partidos["AÑO_ID"] = [3 for x in range(len(1-8))]
df___partidos["AÑOID"] = [3 for _ in range(len(df___partidos))]

KeyError: "['AÑOID'] not found in axis"

In [90]:
df___partidos.drop("AÑOID", axis=1, inplace=True)

In [100]:
df___partidos

,ID,LANGUAGE_ID,ACRONYM,LABEL,TP,AÑO_ID
0,GP1201,EN,EPP,Group of the European People's Party (Christia...,Centro_Derecha,3
1,GP1202,EN,S&D,Group of the Progressive Alliance of Socialist...,Centro_Izquierda,3
2,GP1203,EN,ALDE,Group of the Alliance of Liberals and Democrat...,Centro_Liberal,3
3,GP1204,EN,Greens/EFA,Group of the Greens/European Free Alliance,Izquierda_Liberal,3
4,GP1205,EN,ECR,European Conservatives and Reformists Group,Conservadores_Euroescépticos,3
5,GP1206,EN,GUE/NGL,Confederal Group of the European United Left -...,Izquierda_Radical,3
6,GP1207,EN,EFD,Europe of freedom and democracy Group,Derecha_Nacionalista,3
7,GP000,EN,NI,Non-attached Members,Grupo_Mixto,3

In [ ]:
df___partidos = pd.read_csv("grupos_politicos_2009_2014.csv")
lista_partidos= ["Centro_Derecha", "Centro_Izquierda", "Centro_Liberal", "Izquierda_Liberal","Conservadores_Euroescépticos","Izquierda_Radical","Derecha_Nacionalista", "Grupo_Mixto"] 
df___partidos["TP"] = lista_partidos
df___partidos

In [102]:
lista_partidos_2= ["Centro_Derecha", "Centro_Izquierda", "Conservadores_Euroescépticos","Centro_Liberal","Izquierda_Radical", "Izquierda_Liberal","Derecha_Nacionalista", "Grupo_Mixto"]

In [93]:
df___partidos.to_csv("partidos.csv", index=False)

In [3]:
columnas_deseadas = ["COMARCA", "COD_COMARCA", "CANDIDATO_COD", "CANDIDATO_SIGLAS" ,"VOTOS"]
df_votos1 = df[columnas_deseadas]
df_votos1

                COMARCA  COD_COMARCA  CANDIDATO_COD CANDIDATO_SIGLAS  VOTOS
0        La Marina Alta           30             14               RC      0
1        La Marina Alta           30             15             PCPE      1
2        La Marina Alta           30             17             UPyD      1
3        La Marina Alta           30             18              AES      0
4        La Marina Alta           30             19               FA      0
...                 ...          ...            ...              ...    ...
225325  La Ribera Baixa           21             29              MSR      1
225326  La Ribera Baixa           21             30              UNA      0
225327  La Ribera Baixa           21             32               DN      0
225328  La Ribera Baixa           21             34              UCE      0
225329  La Ribera Baixa           21             37               PH      0

[225330 rows x 5 columns]

In [6]:
votos_por_siglas = df_votos1.groupby(["CANDIDATO_COD", "COD_COMARCA"])["VOTOS"].sum().reset_index()

votos_por_siglas

      CANDIDATO_COD  COD_COMARCA  VOTOS
0                 1            1      0
1                 1            2      1
2                 1            3     19
3                 1            4      5
4                 1            5     54
...             ...          ...    ...
1185             43           30    166
1186             43           31     70
1187             43           32    223
1188             43           33    106
1189             43           34     65

[1190 rows x 3 columns]

In [7]:
votos_por_siglas.to_csv("votos_por_candidato_comarca.csv", index=False)

RESULTADOS 2014

In [9]:
import os
import pandas as pd
#os.chdir(r"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
os.chdir(r"C:\Users\Silvia.Mencia\Documents\Ejercicio")
df_2014 = pd.read_csv("resultados-elecciones-europeas-1-2014.csv",sep=";")
df_2014.info()

#No hay valores nulos
df_2014

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217152 entries, 0 to 217151
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ANYO              217152 non-null  int64
 1   NUM_ELEC          217152 non-null  int64
 2   COD_PROV          217152 non-null  int64
 3   PROVINCIA         217152 non-null  object
 4   COD_COMARCA       217152 non-null  int64
 5   COMARCA           217152 non-null  object
 6   COD_MUNICIPIO     217152 non-null  int64
 7   MUNICIPIO         217152 non-null  object
 8   DISTRITO          217152 non-null  int64
 9   SECCION           217152 non-null  int64
 10  MESA              217152 non-null  object
 11  CANDIDATURAS      217152 non-null  int64
 12  CENSO             217152 non-null  int64
 13  VOTANTES          217152 non-null  int64
 14  VALIDOS           217152 non-null  int64
 15  BLANCOS           217152 non-null  int64
 16  ABSTENCIONES      217152 non-null  int64
 17  NULOS             217152 non-null  int64
 18  CANDIDATO_COD     217152 non-null  int64
 19  CANDIDATO_SIGLAS  217152 non-null  object
 20  CANDIDATO_DESC    217152 non-null  object
 21  VOTOS             217152 non-null  int64
dtypes: int64(16), object(6)
memory usage: 36.4+ MB

,ANYO,NUM_ELEC,COD_PROV,PROVINCIA,COD_COMARCA,COMARCA,COD_MUNICIPIO,MUNICIPIO,DISTRITO,SECCION,...,CENSO,VOTANTES,VALIDOS,BLANCOS,ABSTENCIONES,NULOS,CANDIDATO_COD,CANDIDATO_SIGLAS,CANDIDATO_DESC,VOTOS
0,2014,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,421,245,241,8,176,4,46,PARTIDO X,"Partido X, Partido del Futuro",0
1,2014,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,421,245,241,8,176,4,47,DISCAPACITADOS y ENFERMEDADES RARAS,Agrupación de Electores D.E.R.,0
2,2014,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,421,245,241,8,176,4,48,PREPAL,Salamanca-Zamora-León Prepal,0
3,2014,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,421,245,241,8,176,4,52,EUPV-EV,Esquerra Unida País Valencià-Els Verds: L'Esqu...,12
4,2014,1,3,Alicante,30,La Marina Alta,3001,"Atzúbia, l'",1,1,...,421,245,241,8,176,4,70,EH BILDU-BNG,Els Pobles decideixen,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217147,2014,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,806,458,450,4,348,8,82,R.R.U.E.,"Per la República, per la ruptura amb la Unió E...",0
217148,2014,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,806,458,450,4,348,8,85,PODEMOS,Podemos-Podem,15
217149,2014,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,806,458,450,4,348,8,86,ALTER,Alternativa Republicana,0
217150,2014,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,806,458,450,4,348,8,87,PT,Partido da Terra,0
217151,2014,1,46,Valencia,21,La Ribera Baixa,46904,Benicull de Xúquer,1,1,...,806,458,450,4,348,8,96,PIRATAS,Piratas de la Comunidad Valenciana-Confederaci...,1

In [13]:
#Segunda tabla creada: CANDIDATOS
df_candidatos_2014= df_2014.loc[:,"CANDIDATO_COD":"CANDIDATO_DESC"]
df_candidatos_2014.info()
df_candidatos_2014= df_candidatos_2014[["CANDIDATO_DESC", "CANDIDATO_COD", "CANDIDATO_SIGLAS"]].drop_duplicates()
df_candidatos_2014["AÑO_ID"] = 2
df_candidatos_2014.to_csv("candidatos_2014.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217152 entries, 0 to 217151
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CANDIDATO_COD     217152 non-null  int64
 1   CANDIDATO_SIGLAS  217152 non-null  object
 2   CANDIDATO_DESC    217152 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.0+ MB

In [ ]:
#Tercera tabla creada: MUNICIPIOS
df_municipios_2014= df_2014.loc[:,"COD_MUNICIPIO":"MUNICIPIO"]
df_municipios_2014= df_municipios_2014[["COD_MUNICIPIO", "MUNICIPIO"]].drop_duplicates()

#Son 542 municipios
df_municipios_2014.to_csv("municipios_2014.csv", index=False)
df_municipios_2014
#Los municipios son los mismos

        COD_MUNICIPIO                 MUNICIPIO
0                3001               Atzúbia, l'
39               3002                     Agost
273              3003                     Agres
312              3004                    Aigües
351              3005                  Albatera
...               ...                       ...
216723          46262                  Yesa, la
216762          46263                     Zarra
216801          46902                    Gátova
216840          46903  San Antonio de Benagéber
217113          46904        Benicull de Xúquer

[542 rows x 2 columns]

In [16]:
df_comarca_censo_votantes_2014 = df_2014[["COD_COMARCA", "COMARCA", "CENSO", "VOTANTES"]].drop_duplicates()
df_comarca_censo_votantes_sumado_2014 = df_comarca_censo_votantes_2014.groupby(
    ["COD_COMARCA", "COMARCA"], as_index=False
)[["CENSO", "VOTANTES"]].sum()
df_comarca_censo_votantes_sumado_2014["AÑO_ID"] = 2
df_comarca_censo_votantes_sumado_2014.to_csv("comarcas_censo_votantes_sumado_2014.csv", index=False)
df_comarca_censo_votantes_sumado_2014

    COD_COMARCA                      COMARCA   CENSO  VOTANTES  AÑO_ID
0             1                    Els Ports    3892      2197       2
1             2               L'Alt Maestrat    5856      3010       2
2             3             El Baix Maestrat   55960     27384       2
3             4                  L'Alcalatén   12654      6271       2
4             5                La Plana Alta  176123     83884       2
5             6               La Plana Baixa  140794     72025       2
6             7             El Alto Palancia   19809     12121       2
7             8              El Alto Mijares    3560      2125       2
8             9          El Rincón de Ademuz    1983      1094       2
9            10                 Los Serranos   14088      7964       2
10           11             El Camp de Túria  115193     59308       2
11           12          El Camp de Morvedre   68411     34605       2
12           13                 L'Horta Nord  170292     90685       2
13           14                 L'Horta Oest  258210    130931       2
14           15                     Valencia  577891    313459       2
15           16                  L'Horta Sud  131458     66863       2
16           17    La Plana de Utiel-Requena   30432     14386       2
17           18             La Hoya de Buñol   32424     17854       2
18           19  El Valle de Cofrentes-Ayora    8528      4323       2
19           20               La Ribera Alta  167386     88168       2
20           21              La Ribera Baixa   62181     32683       2
21           22         La Canal de Navarrés   13008      7912       2
22           23                   La Costera   55449     30394       2
23           24            La Vall d'Albaida   67622     36986       2
24           25                     La Safor  122737     68297       2
25           26                    El Comtat   22148     12316       2
26           27                     L'Alcoià   85895     44084       2
27           28             El Alto Vinalopó   40869     19844       2
28           29            El Vinalopó Medio  129400     60625       2
29           30               La Marina Alta  111233     48151       2
30           31              La Marina Baixa  114848     48670       2
31           32                   L'Alacantí  340669    158130       2
32           33             El Baix Vinalopó  207834     95314       2
33           34                 La Vega Baja  204574     87578       2

In [15]:
# Agrupar por COD_COMARCA y CANDIDATO_COD y sumar los votos válidos
votos_por_candidato_comarca_2014 = df_2014.groupby(["COD_COMARCA", "CANDIDATO_COD"])["VOTOS"].sum().reset_index()
votos_por_candidato_comarca_2014["AÑO_ID"] = 2
votos_por_candidato_comarca_2014.to_csv("votos_por_candidato_comarca_2014.csv", index=False)

# Mostrar resultado
print(votos_por_candidato_comarca_2014)

      COD_COMARCA  CANDIDATO_COD  VOTOS  AÑO_ID
0               1              1      2       2
1               1              2    783       2
2               1              4    745       2
3               1              5      5       2
4               1             10      0       2
...           ...            ...    ...     ...
1321           34             99     69       2
1322           34            103     41       2
1323           34            104    575       2
1324           34            105     52       2
1325           34            106    140       2

[1326 rows x 4 columns]

RESULTADOS 2019

In [2]:
import os
import pandas as pd
#os.chdir(r"C:\Users\silvi\Documents\DATA_SCIENCE\TheBridge - copia\DSPT2025\Proyecto final de módulo\csv")
os.chdir(r"C:\Users\Silvia.Mencia\Documents\Ejercicio")
df_2019 = pd.read_csv("resultados-elecciones-europeas-1-2019.csv",sep=";")
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193408 entries, 0 to 193407
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ANYO              193408 non-null  int64
 1   NUM_ELEC          193408 non-null  int64
 2   COD_PROV          193408 non-null  int64
 3   PROVINCIA         193408 non-null  object
 4   COD_COMARCA       193408 non-null  int64
 5   COMARCA           193408 non-null  object
 6   COD_MUNICIPIO     193408 non-null  int64
 7   MUNICIPIO         193408 non-null  object
 8   DISTRITO          193408 non-null  int64
 9   SECCION           193408 non-null  int64
 10  MESA              193408 non-null  object
 11  CANDIDATURAS      193408 non-null  int64
 12  CENSO             193408 non-null  int64
 13  VOTANTES          193408 non-null  int64
 14  VALIDOS           193408 non-null  int64
 15  BLANCOS           193408 non-null  int64
 16  ABSTENCIONES      193408 non-null  int64
 17  NULOS             193408 non-null  int64
 18  CANDIDATO_COD     193408 non-null  int64
 19  CANDIDATO_SIGLAS  193408 non-null  object
 20  CANDIDATO_DESC    193408 non-null  object
 21  VOTOS             193408 non-null  int64
dtypes: int64(16), object(6)
memory usage: 32.5+ MB

In [3]:
df_2019_grupos_politicos = df_2019[["CANDIDATO_DESC", "CANDIDATO_COD", "CANDIDATO_SIGLAS"]]
df_2019_grupos_politicos = df_2019_grupos_politicos.drop_duplicates()
df_2019_grupos_politicos["AÑO_ID"] = 1
df_2019_grupos_politicos
df_2019_grupos_politicos.to_csv("grupos_politicos_2019.csv", index=False)

In [6]:
df_comarca_censo_votantes_2019 = df_2019[["COD_COMARCA", "COMARCA", "CENSO", "VOTANTES"]].drop_duplicates()
df_comarca_censo_votantes_sumado_2019 = df_comarca_censo_votantes_2019.groupby(
    ["COD_COMARCA", "COMARCA"], as_index=False
)[["CENSO", "VOTANTES"]].sum()
df_comarca_censo_votantes_sumado_2019["AÑO_ID"] = 1
df_comarca_censo_votantes_sumado_2019.to_csv("comarcas_censo_votantes_sumado_2019.csv", index=False)
df_comarca_censo_votantes_sumado_2019

    COD_COMARCA                      COMARCA   CENSO  VOTANTES  AÑO_ID
0             1                    Els Ports    3643      2807       1
1             2               L'Alt Maestrat    5487      4271       1
2             3             El Baix Maestrat   56320     37481       1
3             4                  L'Alcalatén   12480      9321       1
4             5                La Plana Alta  177804    111203       1
5             6               La Plana Baixa  140989     95363       1
6             7             El Alto Palancia   19044     15212       1
7             8              El Alto Mijares    3377      2822       1
8             9          El Rincón de Ademuz    1848      1526       1
9            10                 Los Serranos   13463     10574       1
10           11             El Camp de Túria  121685     79639       1
11           12          El Camp de Morvedre   69185     43565       1
12           13                 L'Horta Nord  172113    113658       1
13           14                 L'Horta Oest  263629    162358       1
14           15                     Valencia  583118    386420       1
15           16                  L'Horta Sud  133922     86142       1
16           17    La Plana de Utiel-Requena   29596     19610       1
17           18             La Hoya de Buñol   32784     22566       1
18           19  El Valle de Cofrentes-Ayora    8165      6595       1
19           20               La Ribera Alta  167274    113498       1
20           21              La Ribera Baixa   61398     42673       1
21           22         La Canal de Navarrés   12534     10230       1
22           23                   La Costera   55311     39732       1
23           24            La Vall d'Albaida   67580     50811       1
24           25                     La Safor  123535     86595       1
25           26                    El Comtat   21618     15737       1
26           27                     L'Alcoià   85250     56523       1
27           28             El Alto Vinalopó   40580     27551       1
28           29            El Vinalopó Medio  130118     82835       1
29           30               La Marina Alta  114182     66822       1
30           31              La Marina Baixa  119136     67506       1
31           32                   L'Alacantí  351195    198459       1
32           33             El Baix Vinalopó  213814    128174       1
33           34                 La Vega Baja  206856    128131       1

In [5]:
#Segunda tabla creada: CANDIDATOS
df_candidatos_2019= df_2019.loc[:,"CANDIDATO_COD":"CANDIDATO_DESC"]
df_candidatos_2019.info()
df_candidatos_2019= df_candidatos_2019[["CANDIDATO_DESC", "CANDIDATO_COD", "CANDIDATO_SIGLAS"]].drop_duplicates()
df_candidatos_2019["AÑO_ID"] = 1
df_candidatos_2019.to_csv("candidatos_2019.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193408 entries, 0 to 193407
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CANDIDATO_COD     193408 non-null  int64
 1   CANDIDATO_SIGLAS  193408 non-null  object
 2   CANDIDATO_DESC    193408 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.4+ MB

In [16]:
# Agrupar por COD_COMARCA y CANDIDATO_COD y sumar los votos válidos
votos_por_candidato_comarca_2019 = df_2019.groupby(["COD_COMARCA", "CANDIDATO_COD"])["VOTOS"].sum().reset_index()
votos_por_candidato_comarca_2019["AÑO_ID"] = 1
votos_por_candidato_comarca_2019.to_csv("votos_por_candidato_comarca_2019.csv", index=False)

# Mostrar resultado
print(votos_por_candidato_comarca_2019)

      COD_COMARCA  CANDIDATO_COD  VOTOS  AÑO_ID
0               1              1      3       1
1               1              3      2       1
2               1             10   1286       1
3               1             12      0       1
4               1             13      3       1
...           ...            ...    ...     ...
1083           34             63    267       1
1084           34             64    462       1
1085           34             65  41604       1
1086           34             66    436       1
1087           34             67     59       1

[1088 rows x 4 columns]